/* styles.css */

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background: #5691df;
}

.container {
    max-width: 800px;
    margin: 30px auto;
    padding: 20px;
    background: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 10px;
}

h1, h2 {
    color: #333;
}

p {
    margin: 10px 0;
    font-size: 18px;
}


.img{
    height: 30px;
    margin-left: 40%;
    margin-bottom: -10px;
}

@media (max-width: 768px) {
    .container {
        padding: 10px;
    }
}
